html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.mud-main-content {
    padding-top: 16px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.width-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}
